@media all and (min-width: 480px) {
    .Dashboard {
      padding: 60px 0;
      text-align: center;
    }
  
    .Dashboard form {
      margin: 0 auto;
      max-width: 320px;
      padding-left: 20px;
    }

    
  }